[submodule "public/themes/modula-mojito"]
	path = public/themes/modula-mojito
	url = git://github.com/zentrification/modula-mojito.git
[submodule "public/themes/innerboard"]
	path = public/themes/innerboard
	url = git://github.com/huacnlee/redmine-theme-innerboard.git
[submodule "public/themes/pepper"]
	path = public/themes/pepper
	url = git://github.com/koppen/redmine-pepper-theme.git
[submodule "public/themes/pixel-cookers"]
	path = public/themes/pixel-cookers
	url = git://github.com/pixel-cookers/RedmineThemePixelCookers.git
[submodule "public/themes/gitcamp"]
	path = public/themes/gitcamp
	url = git://github.com/kennethreitz/redmine-gitcamp-theme.git
[submodule "vendor/plugins/redmine_todos_plugin"]
	path = vendor/plugins/redmine_todos_plugin
	url = git://github.com/dalyons/redmine-todos-scrum-plugin.git
[submodule "vendor/plugins/open_flash_chart"]
	path = vendor/plugins/open_flash_chart
	url = git://github.com/pullmonkey/open_flash_chart.git
[submodule "vendor/plugins/redmine_charts"]
	path = vendor/plugins/redmine_charts
	url = git://github.com/mszczytowski/redmine_charts.git
